
<h2>Saved Articles</h2>
<div id="accordion">
<!-- cycles through each character and displays them in tabs --> 
{{#each articles}}
  <div class="card">
    <div class="card card-header">
        <a href={{link}} target="_blank"><h3>{{title}}</h3></a>
        <p>
        <a class="btn btn-primary collapsed" data-toggle="collapse" href="#{{_id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
          Summary
        </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
         Comments
        </button>
        <button class = "btn btn-danger delete-article float-right" data-id = "{{_id}}" >X</button>
        </p>
    </div>
    <div class="collapse" id={{_id}} style="">
      <div class="card card-body">
        {{summary}}
      </div>
    </div>
        <div class="collapse" id={{_id}} style="">
      <div class="card card-body">
        {{comments}}
      </div>
    </div>
{{/each}}
</div>