

<h2>New Articles</h2>
<div id="accordion">
  

<!-- cycles through each scraped article and displays them in tabs --> 

{{#each scraped}}
  <div class="card">

    <div class="card card-header">
        <a id = "{{id}}-link" href={{link}} target="_blank"><h3 id = "{{id}}-title">{{title}}</h3></a>
        <p>
        <a class="btn btn-primary collapsed" data-toggle="collapse" href="#{{id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
          Summary
        </a>
        <button id = "save-article" class= "save-article btn btn-primary" type="button" data-id = {{id}} data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
         Save Article
        </button>
        </p>
    </div>
    <div class="collapse" id={{id}} style="">
      <div class="card card-body">
        <p id = "{{id}}-summary">{{summary}}</p>
      </div>
    </div>
  </div>
{{/each}}
</div>

